body{
  background-color: #EAF6F6;
}
.info{
  font-family: 'Merriweather', serif;
}
.contact{
  font-family: 'Lilita One', cursive;
}
h1{
  color: #379237;
  font-family: 'Sacramento', cursive;
}
h3{
  color: #379237;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
img{
  width: 50%
}
hr{
  border-style: none;
  border-top-style: none;
}
